<app-navbar></app-navbar>


<ion-content>
  <ion-split-pane contentId="main-content" when="sm">

    <app-sidebar></app-sidebar>

    <ion-content id="main-content">
      <form class="inputForm">

        <div class="topInput">
          <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="Status" name="Status" required>
              <mat-option *ngFor="let Status of listStatus" [value]="Status.value">
                {{ Status.key }}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field appearance="fill" *ngIf="this.user.Role == 'admin' ">
            <mat-label>Store</mat-label>
            <mat-select [(ngModel)]="this.user.Store" name="this.user.Store" required>
              <mat-option *ngFor="let Store of listStores" [value]="Store.value">
                {{ Store.key }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <b>User:</b> {{this.user.Name}} |
          <b>StoreID:</b> {{this.user.Store}}
        </div>

        <button mat-raised-button color="primary" (click)="getItemDraft()">
          Search
        </button>

        <button mat-raised-button color="primary" (click)="submitItemDraft()" *ngIf="StatusID == 0">
          Submit
        </button>


        <hr>

        <div class="divTable">
          <table>
            <thead>
              <tr class="nowrap-column">
                <th *ngIf="StatusID == 0"><input type="checkbox" [checked]="" (change)="selectAll()" /></th>
                <th *ngIf="StatusID == 0">Delete</th>
                <th>#</th>
                <th>Department</th>
                <th>Supplier</th>
                <th>Buyer</th>
                <th>UPC</th>
                <th>Prod Full Name</th>
                <th>Prod Alias</th>
                <th>Markup</th>
                <th>Package Spec</th>
                <th>Measure</th>
                <th>Units Per Case</th>
                <th>Tax1</th>
                <th>Tax2</th>
                <th>Unit Cost</th>
                <th>Retail Price</th>
                <th>Promotion Price</th>
                <th>Case Cost</th>
                <th>Country Of Origin</th>
                <th>Ethnic</th>
                <th>Applicant</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data; let i = index" class="nowrap-column">
                <td (click)="toggleSelection(item.ProductID)" *ngIf="StatusID == 0">
                  <input type="checkbox" [checked]="selectedRows.has(item.ProductID)" />
                </td>
                <td (click)="deleteItemDraft(item)" *ngIf="StatusID == 0"><mat-icon>delete</mat-icon></td>
                <th>{{i + 1}}</th>
                <td (click)="selectItem(item)">{{item.DepartmentName}}</td>
                <td (click)="selectItem(item)">{{item.CompanyName}}</td>
                <td (click)="selectItem(item)">{{item.BuyerName}}</td>
                <td (click)="selectItem(item)">{{item.ProductID}}</td>
                <td (click)="selectItem(item)">{{item.ProductFullName}}</td>
                <td (click)="selectItem(item)">{{item.ProductAlias}}</td>
                <td [ngClass]="{'highlight-red': getMargin(item) < 0.4}">{{ getMargin(item)*100 | number:'1.2-2' }}%
                </td>
                <td (click)="selectItem(item)">{{item.PackageSpec}}</td>
                <td (click)="selectItem(item)">{{item.Measure}}</td>
                <td>{{item.NumPerPack}}</td>
                <td>{{item.Tax1App}}</td>
                <td>{{item.Tax2App}}</td>
                <td>{{item.UnitCost}}</td>
                <td>{{item.RetailPrice}}</td>
                <td>{{item.PromotionPrice}}</td>
                <td>{{item.CaseCost}}</td>
                <td>{{item.CountryOfOrigin}}</td>
                <td>{{item.Ethnic}}</td>
                <td>{{item.Applicant}}</td>
                <td>{{item.RequestDate}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </form>

    </ion-content>

  </ion-split-pane>
</ion-content>