<app-navbar></app-navbar>

<ion-content>

  <ion-split-pane contentId="main-content" when="sm">

    <app-sidebar></app-sidebar>


    <ion-content id="main-content">
      <form class="inputForm">

        <h1>Inventory Location</h1>

        <div class="topInput">
          <mat-form-field appearance="fill">
            <mat-label>Supplier</mat-label>
            <mat-select [(ngModel)]="data.SupplierID" name="returnData.SupplierID"
              (selectionChange)="getItemList()" required>
              <mat-option *ngFor="let Supplier of supplierList" [value]="Supplier.SupplierID">
                {{ Supplier.CompanyName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div>
          <button mat-raised-button color="primary" (click)="getReturnSuppliers()">
            Refresh Suppliers
          </button>
          <button mat-raised-button color="primary" (click)="reset()">
            Reset
          </button>
        </div>


        <div class="divTable">
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Product_ID</th>
                <th>InspectedDate</th>
                <th>Location</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of itemList;let i = index">
                <td>{{i + 1}}</td>
                <td>{{item.Product_ID}}</td>
                <td>{{item.InspectedDate | date: 'yyyy-MM-dd'}}</td>
                <td>{{item.Location}}</td>

              </tr>
            </tbody>
          </table>
        </div>


      </form>


    </ion-content>



  </ion-split-pane>

</ion-content>