<app-navbar></app-navbar>


<ion-content>
  <ion-split-pane contentId="main-content" when="sm">

    <app-sidebar></app-sidebar>


    <ion-content id="main-content">
      <form class="inputForm">

        <div class="topInput">
          <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="Status" name="Status" required>
              <mat-option *ngFor="let Status of listStatus" [value]="Status.value">
                {{ Status.key }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Store</mat-label>
            <mat-select [(ngModel)]="StoreID" name="StoreID" required>
              <mat-option *ngFor="let Store of listStores" [value]="Store.value">
                {{ Store.key }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <button mat-raised-button color="primary" (click)="getItemRequest()">
          Refresh
        </button>
        <button mat-raised-button color="primary" (click)="approveNewProducts()" *ngIf="StatusID == 1">
          Approve
        </button>
        <button mat-raised-button color="primary" (click)="rejectNewProducts()" *ngIf="StatusID == 1">
          Reject
        </button>

        <!-- <button mat-raised-button color="primary" (click)="test()">
          Test
        </button> -->

        <hr>

        <div class="divTable">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" id="tableID">
            <!-- <table> -->
            <thead>
              <tr class="nowrap-column">
                <th *ngIf="StatusID == 1"><input type="checkbox" [checked]="isAllSelected" (change)="selectAll()" /></th>
                <th>#</th>
                <th>Store</th>
                <th>Department</th>
                <th>Supplier</th>
                <th>Buyer</th>
                <th>Full Name</th>
                <th>Alias</th>
                <th>Markup</th>
                <th>UPC</th>
                <th>CountryOfOrigin</th>
                <th>Ethnic</th>
                <th>Applicant</th>
                <th>Date</th>
                <th>PackageSpec</th>
                <th>Measure</th>
                <th>UnitsPerCase</th>
                <th>Tax</th>
                <th>Unit Cost</th>
                <th>Retail Price</th>
                <th>Promotion Price</th>
                <th>Case Cost</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data; let i = index" (click)="toggleSelection(item.ProductID)"
                class="nowrap-column">
                <td *ngIf="StatusID == 1">
                  <input type="checkbox" [checked]="selectedRows.has(item.ProductID)" />
                </td>
                <th>{{i + 1}}</th>
                <td>{{item.StoreName}}</td>
                <td>{{item.DepartmentName}}</td>
                <td>{{item.CompanyName}}</td>
                <td>{{item.BuyerName}}</td>
                <td>{{item.ProductFullName}}</td>
                <td>{{item.ProductAlias}}</td>
                <td [ngClass]="{'highlight-red': getMargin(item) < 0.4}">{{ getMargin(item)*100 | number:'1.2-2' }}%
                </td>
                <td>{{item.ProductID}}</td>
                <td>{{item.CountryOfOrigin}}</td>
                <td>{{item.Ethnic}}</td>
                <td>{{item.Applicant}}</td>
                <td>{{item.RequestDate | date:'yyyy-MM-dd'}}</td>
                <td>{{item.PackageSpec}}</td>
                <td>{{item.Measure}}</td>
                <td>{{item.NumPerPack}}</td>
                <td>{{item.Tax1App}}</td>
                <td>{{item.UnitCost}}</td>
                <td>{{item.RetailPrice}}</td>
                <td>{{item.PromotionPrice}}</td>
                <td>{{item.CaseCost}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>

    </ion-content>
  </ion-split-pane>
</ion-content>