<ion-header>

  <mat-toolbar>

    <button mat-icon-button (click)="sidebar()"><mat-icon>list</mat-icon></button>
    <button mat-icon-button routerLink="/home"><mat-icon>home</mat-icon></button>
    <button mat-icon-button (click)="back()"><mat-icon>arrow_back</mat-icon></button>
    <b>V1.0.3</b>
    <!-- 当loading为true时显示进度条 -->
    <mat-progress-bar *ngIf="loading$ | async" mode="indeterminate"></mat-progress-bar>

    <!-- 当loading为false时显示图片 -->
    <img *ngIf="(loading$ | async) === false" src='../assets/images/logoALP.png' alt='image'>


    <!-- <button mat-button [matMenuTriggerFor]="menu_item" class="custom-button">Item</button>
    <mat-menu #menu_item="matMenu">
      <button mat-menu-item routerLink="/item">Search Item</button>
      <button mat-menu-item routerLink="/item/item-insert">Insert Item</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menu_supplier">Supplier</button>
    <mat-menu #menu_supplier="matMenu">
      <button mat-menu-item routerLink="/supplier">Search Supplier</button>
      <button mat-menu-item routerLink="/supplier/supplier-insert">Insert Supplier</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menu">Test2</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/item">Search Item</button>
      <button mat-menu-item routerLink="/item/item-insert">Insert Item</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menu">Test3</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/item">Search Item</button>
      <button mat-menu-item routerLink="/item/item-insert">Insert Item</button>
    </mat-menu> -->

    <button class="logout" mat-button (click)="logout()">Logout</button>
  </mat-toolbar>


</ion-header>