.mat-button-toggle-checked {
    background-color: #4758b8 !important;
    color: white !important;
}


.header{
    padding: 10px;
    margin-bottom: 20px;
}

ion-searchbar{
    margin-top: -20px;
    width: 60vh;
    max-width: 90%;
}