<app-navbar></app-navbar>

<ion-content>

  <ion-split-pane contentId="main-content" when="sm">

    <app-sidebar></app-sidebar>


    <ion-content id="main-content">
      <form class="inputForm">

        <h1>Search Items</h1>

        <!-- <mat-tab-group dynamicHeight>
          <mat-tab label="Search By UPC">
            <ion-searchbar class="searchBar" color="light" [(ngModel)]="ProductID" name="ProductID"
              placeholder="Search By UPC">
            </ion-searchbar>
            <button mat-raised-button color="primary" (click)="getItemByProductID()">
              SearchByUPC
            </button>
          </mat-tab>

          <mat-tab label="Search By Name">
            <ion-searchbar class="searchBar" color="light" [(ngModel)]="ProductName" name="ProductName"
              placeholder="Search By Name">
            </ion-searchbar>
            <button mat-raised-button color="primary" (click)="getItemByProductName()">
              SearchByName
            </button>
          </mat-tab>

        </mat-tab-group> -->




        <!-- 
    <div>
      <button mat-raised-button color="primary" (click)="insertData()">
        insertData
      </button>
    </div>

    <div>
      <button mat-raised-button color="primary" (click)="deleteData()">
        Detete By ID
      </button>
    </div>

    <div>
      <button mat-raised-button color="primary" (click)="updateData()">
        Update By ID
      </button>
    </div> -->

        <ion-searchbar class="searchBar" color="light" [(ngModel)]="input" name="input"
          placeholder="Enter UPC or Name">
        </ion-searchbar>
        <button mat-raised-button color="primary" (click)="search()">
          Search
        </button>



        <div class="tableScroll">
          <table>
            <thead>
              <tr>
                <th>ProductID</th>
                <th>ProductName</th>
                <th>Department</th>
                <!-- <th>Update/Delete</th> -->
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of itemList" (click)="editItem(item)">
                <td>{{item.Prod_Num}}</td>
                <td>{{item.Prod_Name}}</td>
                <td>{{item.Department}}</td>
                <!-- <td>
                  <button (click)="buttonUpdateItem(item)" class="icon-background"><mat-icon>edit</mat-icon></button>
                  <button (click)="buttondeleteItem(item)" class="icon-background"><mat-icon>delete</mat-icon></button>
                </td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </form>


    </ion-content>



  </ion-split-pane>

</ion-content>