<app-navbar></app-navbar>

<ion-content>

  <ion-split-pane contentId="main-content" when="sm">

    <app-sidebar></app-sidebar>


    <ion-content id="main-content">
      <form class="inputForm">

        <h1>Print Credit Note</h1>

        <!-- <ion-searchbar class="searchBar" color="light" [(ngModel)]="Location" name="Location"
          placeholder="Enter Location">
        </ion-searchbar> -->
        <mat-tab-group dynamicHeight (selectedTabChange)="onTabChange($event)">
          <mat-tab label="Search By Supplier">

            <div class="topInput">
              <mat-form-field appearance="fill">
                <mat-label>Supplier</mat-label>
                <mat-select [(ngModel)]="returnData.SupplierID" name="returnData.SupplierID"
                  (selectionChange)="getReturnData()" required>
                  <mat-option *ngFor="let Supplier of supplierList" [value]="Supplier.SupplierID">
                    {{ Supplier.CompanyName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>


            <button mat-raised-button color="primary" (click)="getReturnSuppliers()">
              Refresh Suppliers
            </button>

            <button mat-raised-button color="primary" (click)="getReturnData()">
              Refresh Products
            </button>



          </mat-tab>

          <mat-tab label="Search By Credit#">
            <div class="topInput">
              <table>
                <thead>
                  <tr>
                    <th>CreditNumber</th>
                    <th>Date</th>
                    <th>CompanyName</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let credit of CreditList" (click)="getCreditByCreditNumber(credit.CreditNumber)">
                    <td>{{credit.CreditNumber}}</td>
                    <td>{{credit.PrintDate | date: 'yyyy-MM-dd' }}</td>
                    <td>{{credit.CompanyName}}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <button mat-raised-button color="primary" (click)="getCreditList()">Refresh Credits</button>
          </mat-tab>

        </mat-tab-group>

        <button mat-raised-button color="primary" (click)="printTable()" *ngIf="printArea"
          [disabled]="needInfo">Print</button>

        <div id="print-section" #printSection *ngIf="printArea">
          <div class="divTable">
            <h1 style="text-align: center;">Credit Note Request</h1>
            <h3 style="text-align: center;">{{itemList[0].CompanyName}}</h3>
            <table>
              <thead>
                <tr>
                  <th>#</th>
                  <th>ProductID</th>
                  <th>ProductName</th>
                  <th>PurchaseUnitPrice</th>
                  <th>ReturnQuantity</th>
                  <th>SubTotal</th>
                  <th>Tax</th>
                  <th>Total Amount</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let item of itemList; let i = index" (click)="navigateToReturn(item)">
                  <td>{{i + 1}}</td>
                  <td>{{item.ProductID}}</td>
                  <td>{{item.ProductName}}</td>
                  <td>${{item.UnitCost | number:'1.2-2' }}</td>
                  <td>{{item.ReturnQuantity}}</td>
                  <td>${{countSubTotal(item) | number:'1.2-2' }}</td>
                  <td>${{countTax(item) | number:'1.2-2' }}</td>
                  <td>${{countTotalAmount(item) | number:'1.2-2' }}</td>
                </tr>
              </tbody>
            </table>

            <div class="container">
              <div class="info">
                <div class="left-info">
                  <div><b>Subtotal:</b></div>
                  <div><b>HST:</b></div>
                  <div><b>Total+HST:</b></div>
                </div>

                <div class="right-info">
                  <div>{{totalSub | number:'1.2-2' }}</div>
                  <div>{{totalTax | number:'1.2-2' }}</div>
                  <div>{{totalAmount | number:'1.2-2' }}</div>
                </div>

              </div>
            </div>

            <p>These returned items are available for pickup at our store located at {{Location}} by <b>[{{pickupDate |
                date: 'yyyy-MM-dd' }}]</b>.
              Please be advised that if the returned items are not picked up by the specified date, we reserve the right
              to dispose of these items at our discretion.</p>

            <br>
            <div style="text-align: left;">
              <h2>Signature:____________</h2>
              <h2>Date:{{today | date: 'yyyy-MM-dd' }}</h2>
            </div>
          </div>
        </div>

      </form>


    </ion-content>



  </ion-split-pane>

</ion-content>