<h1 mat-dialog-title>PO Details</h1>
<h3>CompanyName: {{data.POData.CompanyName}}</h3>
<h3>PO_ID: {{data.POData.PO_ID}}</h3>

<mat-dialog-content>
  <table>
    <thead>
      <tr>
        <th>Product_ID</th>
        <th>Prod_Name</th>
        <th>TaxRate</th>
        <th>UnitsPerPackage</th>
        <th>UnitsOrdered</th>
        <th>PriceOrdered</th>
        <th>Tax</th>
        <th>Total</th>
      </tr>
    </thead>

    <tr *ngFor="let detail of data.PODetailsData">
      <td>{{ detail.Product_ID }}</td>
      <td>{{ detail.Prod_Name }}</td>
      <td>{{ detail.TaxRate }}</td>
      <td>{{ detail.UnitsPerPackage }}</td>
      <td>{{ detail.UnitsOrdered }}</td>
      <td>{{ detail.PriceOrdered | number:'1.2-2'}}</td>
      <td>${{ detail.UnitsOrdered * detail.PriceOrdered * detail.TaxRate | number:'1.2-2'}}
      <td>${{ detail.UnitsOrdered * detail.PriceOrdered * (1 + detail.TaxRate) | number:'1.2-2'}}
      </td>
    </tr>
  </table>

  <h2>Sub Total: ${{ getSubTotalSum() | number:'1.2-2' }}</h2>
  <h2>Total: ${{ getTotalSum() | number:'1.2-2' }}</h2>





</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true">Confirm</button>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>