<app-navbar></app-navbar>


<ion-content>
  <ion-split-pane contentId="main-content" when="sm">

    <app-sidebar></app-sidebar>


    <ion-content id="main-content">

      <form class="inputForm" #myForm="ngForm">
        <h1>Map Group</h1>


        <div class="topInput">
          <mat-form-field appearance="fill">
            <mat-label>itemName: {{itemName}}, ID: {{groupID}}</mat-label>
            <input matInput type="text" [(ngModel)]="itemName" name="itemName" required>
          </mat-form-field>
        </div>

        <div>
          <!-- <button mat-raised-button color="primary" (click)="getGroupDetails()" [disabled]="myForm.invalid">
            test
          </button> -->
          <button mat-raised-button color="primary" (click)="groupDetail()" [disabled]="myForm.invalid">
            Search
          </button>
          <button mat-raised-button color="primary" (click)="confirm()">
            Confirm
          </button>
        </div>

        <mat-tab-group dynamicHeight>

          <!-- Tab1============================================================================================================= -->
          <mat-tab label="Store">

            <div class="row">
              <div class="column">
                <p>New</p>
                <table cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="storeData"
                  [cdkDropListConnectedTo]="['StoreTable2']" id="StoreTable1">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Item_Nbr</th>
                      <th>upc</th>
                      <th>item_desc_1</th>
                      <th><input type="checkbox" [checked]="" (change)="selectStoreAll()" /></th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let item of storeData; let i = index" (click)="toggleStoreSelection(item.Item_Nbr)"
                      cdkDrag [cdkDragData]="item">
                      <td>{{i + 1}}</td>
                      <td>{{item.Item_Nbr}}</td>
                      <td>{{item.upc}}</td>
                      <td>{{item.item_desc_1}}</td>
                      <td><input type="checkbox" [checked]="selectedStoreRows.has(item.Item_Nbr)" /></td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <div class="column">
                <p>Exist</p>
                <table cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="groupDetailsStoreData"
                  [cdkDropListConnectedTo]="['StoreTable1']" id="StoreTable2">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Item_Nbr</th>
                      <th>Item Name</th>
                      <th>Delete</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let item of groupDetailsStoreData; let i = index" cdkDrag [cdkDragData]="item">
                      <td>{{i + 1}}</td>
                      <td>{{item.Item_Nbr}}</td>
                      <td>{{item.ProductName}}</td>
                      <td (click)="deleteGroupDetails(item)"><mat-icon>delete</mat-icon></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>


          </mat-tab>

          <!-- Tab2============================================================================================================= -->
          <mat-tab label="Warehouse">

            <div class="row">
              <div class="column">
                <p>New</p>
                <table cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="warehouseData"
                [cdkDropListConnectedTo]="['WarehouseTable2']" id="WarehouseTable1">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>ProductID</th>
                      <th>ProductName</th>
                      <th>ProductChName</th>
                      <th><input type="checkbox" [checked]="" (change)="selectWarehouseAll()" /></th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let item of warehouseData; let i = index"
                      (click)="toggleWarehouseSelection(item.ProductID)" cdkDrag [cdkDragData]="item">
                      <td>{{i + 1}}</td>
                      <td>{{item.ProductID}}</td>
                      <td>{{item.ProductName}}</td>
                      <td>{{item.ProductChName}}</td>
                      <td><input type="checkbox" [checked]="selectedWarehouseRows.has(item.ProductID)" /></td>
                    </tr>
                  </tbody>
                </table>
              </div>


              <div class="column">
                <p>Exist</p>
                <table cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="groupDetailsWarehouseData"
                [cdkDropListConnectedTo]="['WarehouseTable1']" id="WarehouseTable2">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Item_Nbr</th>
                      <th>Item Name</th>
                      <th>Delete</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let item of groupDetailsWarehouseData; let i = index" cdkDrag [cdkDragData]="item">
                      <td>{{i + 1}}</td>
                      <td>{{item.Item_Nbr}}</td>
                      <td>{{item.ProductName}}</td>
                      <td (click)="deleteGroupDetails(item)"><mat-icon>delete</mat-icon></td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>


          </mat-tab>

          <!-- Tab3============================================================================================================= -->
          <!-- <mat-tab label="Exist">
            <div class="topInput">
              <table>
                <thead>
                  <tr>
                    <th>#</th>
                    <th>OrganizationID</th>
                    <th>Item_Nbr</th>
                    <th>Item Name</th>
                    <th>Delete</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let item of groupDetailsData; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{item.OrganizationID}}</td>
                    <td>{{item.Item_Nbr}}</td>
                    <td>{{item.ProductName}}</td>
                    <td (click)="deleteGroupDetails(item)"><mat-icon>delete</mat-icon></td>
                  </tr>
                </tbody>
              </table>
            </div>

          </mat-tab> -->


        </mat-tab-group>







      </form>


    </ion-content>
  </ion-split-pane>
</ion-content>