<app-navbar></app-navbar>


<ion-content>
  <ion-split-pane contentId="main-content" when="sm">

    <app-sidebar></app-sidebar>

    <ion-content id="main-content">

      <form class="inputForm" #myForm="ngForm">
        <h1>Add PO Item</h1>
        <h4><b>User:</b> {{user.Name}} | <b>StoreID:</b> {{user.Store}} | <b>OrderID:</b> {{OrderID}}</h4>    
        <b>Supplier:</b> {{SupplierName}} <b>({{SupplierID}})</b>

        <div class="container">
          <div class="info" *ngIf="itemData.ProductID">
            <div class="left-info">
              <div *ngIf="lastReceivingDate"><b>LastReceivingDate:</b></div>
              <div *ngIf="lastSupplierName"><b>LastSupplier:</b></div>
              <div *ngIf="lastUnitsPerPackage"><b>LastUnitsPerPackage:</b></div>
              <div *ngIf="lastLocation"><b>LastLocation:</b></div>
              <div *ngIf="itemData.Department"><b>Department:</b></div>
              <div *ngIf="itemData.ProductName"><b>ProductName:</b></div>
            </div>

            <div class="right-info">
              <div *ngIf="lastReceivingDate">{{lastReceivingDate | date:'yyyy-MM-dd'}}</div>
              <div *ngIf="SupplierName">{{SupplierName}}</div>
              <div *ngIf="lastUnitsPerPackage">{{lastUnitsPerPackage}}</div>
              <div *ngIf="lastLocation">{{lastLocation}}</div>
              <div *ngIf="itemData.Department">{{itemData.Department}}</div>
              <div *ngIf="itemData.ProductName">{{itemData.ProductName}}</div>
              <!-- <div *ngIf="itemData.UnitsPerPackage">{{itemData.UnitsPerPackage}}</div> -->
            </div>
          </div>

          <div class="info" *ngIf="itemData.ProductID">
            <div class="left-info">
              <div><b>30days Sales:</b></div>
            </div>

            <div class="right-info">
              <div>{{salesQTY30}}</div>
            </div>

            <div class="left-info">
              <div><b>60days Sales:</b></div>
            </div>

            <div class="right-info">
              <div>{{salesQTY60}}</div>
            </div>
          </div>

          <div class="info" *ngIf="itemData.ProductID">
            <div class="left-info">
              <div><b>LastCost:</b></div>
              <div><b>MinCost:</b></div>


            </div>
            <div class="right-info">
              <div>${{Cost | number:'1.2-2'}}</div>
              <div>${{MinCost | number:'1.2-2'}} ({{MinCostStore}})</div>

            </div>

            <div class="left-info">
              <div><b>RetailPrice:</b></div>
              <div><b>MaxCost:</b></div>
            </div>
            <div class="right-info">
              <div>${{RegPrice}}</div>
              <div>${{MaxCost | number:'1.2-2'}} ({{MaxCostStore}})</div>
            </div>
          </div>
        </div>


        <!-- <div class="topInput">
              <mat-form-field appearance="fill">
                <mat-label>ProductID: {{NormalizedID}}</mat-label>
                <input matInput type="string" [(ngModel)]="itemData.ProductID" name="itemData.ProductID"
                  (blur)="onProductIDChange()" required>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Supplier</mat-label>
                <mat-select [(ngModel)]="itemData.SupplierID" name="itemData.SupplierID" required>
                  <mat-option *ngFor="let Supplier of SupplierList" [value]="Supplier.SupplierID">
                    {{ Supplier.CompanyName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div> -->

        <div class="topInput">
          <!-- <app-search-supplier *ngIf="!itemData.SupplierID"></app-search-supplier> -->

          <div>
            <mat-form-field appearance="fill">
              <mat-label>ProductID: {{NormalizedID}}</mat-label>
              <input matInput type="string" [(ngModel)]="itemData.ProductID" name="itemData.ProductID"
                (blur)="onProductIDChange()" required>
            </mat-form-field>
          </div>

        </div>







        <div *ngIf="itemData.ProductID">
          <mat-form-field appearance="fill">
            <mat-label>UnitQty</mat-label>
            <input matInput type="number" [(ngModel)]="itemData.UnitQty" name="itemData.UnitQty"
              (ngModelChange)="onUnitQtyChange(itemData)" required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>CaseQty</mat-label>
            <input matInput type="number" [(ngModel)]="itemData.CaseQty" name="itemData.CaseQty"
              (ngModelChange)="onCaseQtyChange(itemData)" required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>UnitsPerPackage</mat-label>
            <input matInput type="number" [(ngModel)]="itemData.UnitsPerPackage" name="itemData.UnitsPerPackage"
              (ngModelChange)="onCaseQtyChange(itemData)" required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>UnitCost</mat-label>
            <input matInput type="number" [(ngModel)]="itemData.UnitCost" name="itemData.UnitCost"
              (ngModelChange)="onUnitQtyChange(itemData)" required>
          </mat-form-field>

          <div>
            <mat-label>Tax1税(13%)</mat-label>
            <mat-checkbox [checked]="itemData.Tax1App === 1" (change)="checkTax1($event)">
            </mat-checkbox>

            <mat-label>Tax2税(5%)</mat-label>
            <mat-checkbox [checked]="itemData.Tax2App === 1" (change)="checkTax2($event)">
            </mat-checkbox>
          </div>
        </div>



        <div>
          <!-- <button mat-raised-button color="primary" (click)="onProductIDChange()" [disabled]="myForm.invalid">
            Refresh
          </button> -->

          <button type="button" mat-raised-button color="primary" (click)="draftOrderItem()"
            [disabled]="myForm.invalid || !isProductExist">
            Create
          </button>

          <button type="button" mat-raised-button color="primary" (click)="reset()">
            Reset
          </button>
        </div>




      </form>
    </ion-content>
  </ion-split-pane>
</ion-content>