<app-navbar></app-navbar>


<ion-content>

  <ion-split-pane contentId="main-content" when="sm">

    <app-sidebar></app-sidebar>

    <ion-content id="main-content">
      <form class="inputForm" #myForm="ngForm">

        <h1>Item Update</h1>

        <div class="right-align">
          <b>Applicant:</b> {{data.Applicant}} |
          <b>StoreID:</b> {{data.RequestStoreID}}
        </div>
        <div>
          <b>ProductID: </b>{{data.ProductID}}
        </div>
        <div>
          <b>ProductName: </b>{{data.ProductName}}
        </div>

        <div class="topInput">
          <mat-form-field appearance="fill">
            <mat-label>New UnitCost</mat-label>
            <input matInput type="number" [(ngModel)]="data.UnitCost" name="data.UnitCost" required>
            <a matSuffix><b>CurrentCost: </b>{{CurrentCost}}</a>
          </mat-form-field>
        </div>

        <div>
          <button mat-raised-button color="primary" (click)="itemUpdate()" [disabled]="myForm.invalid">
            Update
          </button>
        </div>

        <!-- <div>
          <button mat-raised-button color="primary" (click)="itemDelete()">
            Delete
          </button>
        </div> -->












      </form>
    </ion-content>



  </ion-split-pane>

</ion-content>