<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <!-- 当loading为true时显示进度条 -->
    <mat-progress-bar *ngIf="loading$ | async" mode="indeterminate"></mat-progress-bar>

    <!-- 当loading为false时显示图片 -->
    <img *ngIf="(loading$ | async) === false" src='../assets/images/logoALP.png' alt='image'  width="400px">
  </ion-toolbar>
</ion-header>

<ion-content class="page-container">

  <form>

    <h2>Acount login only for scanning.</h2>
    
    <div class="topInput">
      <mat-form-field appearance="fill">
        <mat-label>Account</mat-label>
        <input matInput type="text" [(ngModel)]="user.Username" name="user.Username">
      </mat-form-field>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" [(ngModel)]="user.PasswordHash" name="user.PasswordHash">
        </mat-form-field>
      </div>
    </div>

    <button mat-raised-button color="primary" (click)="accountLogin()">
      Account Login
    </button>
    <button mat-raised-button color="primary" (click)="domainLogin()">
      Domain Login
    </button>

  </form>


</ion-content>