.inputForm {
    width: 90%;
}

table table {
    width: 100%;
    transition: 0.9s ease-out;
}

.expanded-row {
    background-color: #7ba4ae;
}

tr :hover {
    transform: none;
    transition: none;
}

.expanded-row:hover {
    transition: transform 0.5s ease;
    transform: scale(1.01);
}

.expanded-row tr:hover {
    transition: transform 0.1s ease;
    transform: scale(1.01);
}

mat-icon:hover {
    color: cornflowerblue;
}

.receipt-details {
    display: grid;
    grid-template-columns: max-content auto;
    column-gap: 1em;
    /* Adjust as needed */
    width: 100%;
    /* or any specific width */
    text-align: right;
    align-content: right;
}

.form-group {
    display: contents;
    min-width: 95%;
    text-align: right;
    align-content: right;
}

label {
    text-align: right;
    font-size: medium;
}

.value {
    text-align: left;
    font-size: medium;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 16.66%;
    padding: 15px;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

// .table-responsive {
//     overflow-x: auto;
// }

@media (max-width: 600px) {
    .table-hide-on-mobile {
        display: none;
    }
}