<app-navbar></app-navbar>

<ion-content>

  <ion-split-pane contentId="main-content" when="sm">

    <app-sidebar></app-sidebar>


    <ion-content id="main-content">
      <form class="inputForm">

        <h1>Inventory Location</h1>

        <!-- <mat-form-field appearance="fill">
          <mat-label>Supplier</mat-label>
          <mat-select [(ngModel)]="SupplierID" name="SupplierID"
            (selectionChange)="getItemList()" required>
            <mat-option *ngFor="let supplier of supplierList" [value]="supplier.SupplierID">
              {{ supplier.CompanyName }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

       

        <mat-form-field appearance="fill">
          <mat-label>Location</mat-label>
          <input matInput type="string" [(ngModel)]="Location" name="Location">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>ProductID</mat-label>
          <input matInput type="string" [(ngModel)]="ProductID" name="ProductID">
        </mat-form-field>

        <div>
          <!-- <button mat-raised-button color="primary" (click)="getReturnSuppliers()">
            Refresh Suppliers
          </button>
           -->
          <button mat-raised-button color="primary" (click)="getInventoryByLocation()">
            Search Location
          </button>
          <button mat-raised-button color="primary" (click)="getNormalizedID()">
            Search Product
          </button>
          <button mat-raised-button color="primary" (click)="reset()">
            Reset
          </button>
        </div>


        <div class="divTable">
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Product_ID</th>
                <th>InspectedDate</th>
                <th>Location</th>
                <th>Status</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of itemList;let i = index">
                <td>{{i + 1}}</td>
                <td>{{item.Product_ID}}</td>
                <td>{{item.InspectedDate | date: 'yyyy-MM-dd'}}</td>
                <td>{{item.Location}}</td>
                <td>
                  <span [ngStyle]="{'background-color': setColor(item.Units)}"></span>
                  <span [ngStyle]="{'background-color': setColor(item.Units)}" *ngIf="doubleRed"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>


      </form>


    </ion-content>



  </ion-split-pane>

</ion-content>