<app-navbar></app-navbar>


<ion-content>
  <ion-split-pane contentId="main-content" when="sm">

    <app-sidebar></app-sidebar>


    <ion-content id="main-content">
      <form class="inputForm">
        <h1>{{OrderStatus}}: {{OrderData.SupplierName}}</h1>
        <h4><b>User:</b> {{user.Name}}|<b>StoreID:</b> {{user.Store}}</h4>
        <h4><b>OrderID:</b>{{OrderID}}</h4>
        <div>
          <!-- <mat-form-field appearance="fill">
            <mat-label>OrderID</mat-label>
            <input matInput type="string" [(ngModel)]="OrderID" name="OrderID">
          </mat-form-field> -->

          <mat-form-field appearance="fill">
            <mat-label>Search by Product Name</mat-label>
            <input matInput type="text" [(ngModel)]="searchText" name="searchText" (ngModelChange)="filterProducts()">
            <button mat-icon-button matSuffix *ngIf="searchText" (click)="clearSearch()">
              <mat-icon>close</mat-icon>
            </button>
            <mat-icon matSuffix *ngIf="!searchText">search</mat-icon>
          </mat-form-field>

          <!-- 新增 ProductID 搜索框 -->
          <mat-form-field appearance="fill">
            <mat-label>Search by ProductID</mat-label>
            <input matInput type="text" [(ngModel)]="searchProductID" name="searchProductID"
              (ngModelChange)="filterProducts()">
            <button mat-icon-button matSuffix *ngIf="searchProductID" (click)="clearProductIDSearch()">
              <mat-icon>close</mat-icon>
            </button>
            <mat-icon matSuffix *ngIf="!searchProductID">search</mat-icon>
          </mat-form-field>
        </div>

        <div>
          <!-- <button mat-raised-button color="primary" (click)="loadOrderByOrderID(OrderID)">
            Refresh
          </button> -->

          <!-- 只有ordering才能add,submmit, delete -->
          <button type="button" mat-raised-button color="primary" (click)="addNewOrderItem()"
            *ngIf="OrderData.OrderStatusID == 1">
            Add New
          </button>

          <button type="button" mat-raised-button color="primary" (click)="print()"
            >
            Print
          </button>

          <button type="button" mat-raised-button color="primary" (click)="confirmOrder()"
            *ngIf="OrderData.OrderStatusID == 1">
            Submit
          </button>

          <!-- <button mat-raised-button color="primary" (click)="deleteOrder()" *ngIf="OrderData.OrderStatusID == 1">
            Delete
          </button> -->
        </div>



        <div class="container">
          <div class="info">
            <div class="left-info">
              <div *ngIf="OrderData.OrderStatusID == 1"><b>TotalCaseQty:</b></div>
              <div *ngIf="OrderData.OrderStatusID == 1"><b>TotalUnitQty:</b></div>
              <div *ngIf="OrderData.OrderStatusID == 1"><b>TotalCost:</b></div>
              <div *ngIf="OrderData.OrderStatusID != 1"><b>OrderedTotalQty:</b></div>
              <div *ngIf="OrderData.OrderStatusID != 1"><b>OrderedTotalCost:</b></div>
            </div>
            <div class="right-info">
              <div *ngIf="OrderData.OrderStatusID == 1">{{totalCaseQty}}</div>
              <div *ngIf="OrderData.OrderStatusID == 1">{{totalUnitQty}}</div>
              <div *ngIf="OrderData.OrderStatusID == 1">${{totalCost | number:'1.2-2'}}</div>
              <div *ngIf="OrderData.OrderStatusID != 1">{{totalOrderedQty}}</div>
              <div *ngIf="OrderData.OrderStatusID != 1">${{totalOrderedCost | number:'1.2-2'}}</div>
            </div>


            <div class="right-info">

            </div>
          </div>
        </div>


        <div id="print-section" #printSection style="display:none;">
          <!-- 新增：用于打印的表格布局，默认隐藏 -->
          <h1 style="text-align: center;">Purchase Order</h1>
          <h3 style="text-align: center;">{{OrderData.SupplierName}}</h3>
          <div>
            <table style="width:100%; border-collapse: collapse; text-align:left;">
              <thead>
                <tr>
                  <th style="border:1px solid #ccc; padding:8px;">#</th>
                  <th style="border:1px solid #ccc; padding:8px;">ProductName</th>
                  <th style="border:1px solid #ccc; padding:8px;">ProductID</th>
                  <th style="border:1px solid #ccc; padding:8px;">Location</th>
                  <th style="border:1px solid #ccc; padding:8px;">CaseQty</th>
                  <th style="border:1px solid #ccc; padding:8px;">CaseCost</th>
                  <th style="border:1px solid #ccc; padding:8px;">UnitQty</th>
                  <th style="border:1px solid #ccc; padding:8px;">UnitCost</th>
                  <th style="border:1px solid #ccc; padding:8px;">UnitsPerPackage</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of OrderDetailsData; let i = index">
                  <td style="border:1px solid #ccc; padding:8px;">{{ i + 1 }}</td>
                  <td style="border:1px solid #ccc; padding:8px;">{{ item.ProductName }}</td>
                  <td style="border:1px solid #ccc; padding:8px;">{{ item.ProductID }}</td>
                  <td style="border:1px solid #ccc; padding:8px;">{{ item.Location }}</td>
                  <td style="border:1px solid #ccc; padding:8px;">{{ item.CaseQty }}</td>
                  <td style="border:1px solid #ccc; padding:8px;">{{ item.CaseCost | number:'1.2-2' }}</td>
                  <td style="border:1px solid #ccc; padding:8px;">{{ item.UnitQty }}</td>
                  <td style="border:1px solid #ccc; padding:8px;">{{ item.UnitCost | number:'1.2-2' }}</td>
                  <td style="border:1px solid #ccc; padding:8px;">{{ item.UnitsPerPackage }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="container">
            <div class="info">
              <div class="left-info">
                <div><b>Total OrderedQty:</b></div>
                <div><b>Total OrderedCost:</b></div>
              </div>

              <div class="right-info">
                <div>{{totalOrderedQty}}</div>
                <div>${{totalOrderedCost | number:'1.2-2' }}</div>
              </div>

            </div>
          </div>

        </div>



        <div class="card-container">
          <div *ngFor="let item of filteredOrderDetailsData; let i = index" class="product-card"
            [ngClass]="{ 'disabled-card': isItemCompleted(item) }">

            <div class="card-header-row">
              <div class="card-index" (click)="deleteOrderItem(item)" *ngIf="OrderData.OrderStatusID == 1">
                #{{ i + 1 }}
                <mat-icon>delete</mat-icon>
              </div>

              <div class="card-index" (click)="receiveOrderItem(item)" *ngIf="item.ProductMovementItemStatusID == 1">
                #{{ i + 1 }}
                <mat-icon>archive</mat-icon>
              </div>

              <div class="card-index"
                *ngIf="item.ProductMovementItemStatusID == 2 || item.ProductMovementItemStatusID == 3">#{{ i + 1 }}
                <mat-icon>done</mat-icon>
              </div>

              <div class="card-footer-toggle">
                <button type="button" mat-raised-button color="accent" (click)="toggleFooter(item.ProductID)">
                  {{ expandedProductID === item.ProductID ? 'Hide Details' : 'Show Details' }}
                </button>
              </div>
            </div>

            <div class="card-header">
              <h3><b>{{ item.ProductName }}</b></h3>
              <h3>{{ item.ProductID }} {{ item.Location }}</h3>
            </div>

            <div class="card-body">
              <div class="input-row">
                <div class="input-group">
                  <label for="CaseQty{{item.ProductID}}"><strong>CaseQty:</strong></label>
                  <input matInput type="number" [(ngModel)]="item.CaseQty" id="CaseQty{{item.ProductID}}"
                    (ngModelChange)="onCaseQtyChange(item)" (blur)="draftOrderItem(item)"
                    name="CaseQty{{ item.ProductID }}">
                </div>

                <div class="input-group">
                  <label for="CaseCost{{item.ProductID}}"><strong>CaseCost:</strong></label>
                  <input matInput type="number" [(ngModel)]="item.CaseCost" id="CaseCost{{item.ProductID}}"
                    (ngModelChange)="onCaseCostChange($event, item)" (blur)="draftOrderItem(item)"
                    name="CaseCost{{item.ProductID}}" />
                </div>

                <div class="input-group">
                  <label for="UnitsPerPackage{{item.ProductID}}"><strong>NumPerCase:</strong></label>
                  <input matInput type="number" [(ngModel)]="item.UnitsPerPackage"
                    id="UnitsPerPackage{{item.ProductID}}" (ngModelChange)="onUnitsPerPackageChange(item)"
                    (blur)="draftOrderItem(item)" name="UnitsPerPackage{{item.ProductID}}" />
                </div>
              </div>

            </div>


            <div class="card-footer" *ngIf="expandedProductID === item.ProductID">
              <div class="input-group">
                <label for="UnitCost{{item.ProductID}}"><strong>UnitCost:</strong></label>
                <input matInput type="number" [(ngModel)]="item.UnitCost" id="UnitCost{{item.ProductID}}"
                  (ngModelChange)="onUnitCostChange(item)" (blur)="draftOrderItem(item)"
                  name="UnitCost{{item.ProductID}}" />
              </div>

              <div class="input-group">
                <label for="UnitQty{{item.ProductID}}"><strong>UnitQty:</strong></label>
                <input matInput type="number" [(ngModel)]="item.UnitQty" id="UnitQty{{item.ProductID}}"
                  (ngModelChange)="onUnitQtyChange(item)" (blur)="draftOrderItem(item)"
                  name="UnitQty{{item.ProductID}}" />
              </div>

              <!--         <div class="footer-item">
                <label><strong>UnitsPerPackage:</strong></label>
                <p>{{ item.UnitsPerPackage }}</p>
              </div> -->
              <div class="footer-item">
                <label><strong>RetailPrice:</strong></label>
                <p>${{ RetailPrice }}</p>
              </div>
              <div class="footer-item">
                <label><strong>LastReceivingDate:</strong></label>
                <p>{{ lastReceivingData.ReceivingDate | date:'yyyy-MM-dd'}}</p>
              </div>
              <div class="footer-item">
                <label><strong>LastPriceReceived:</strong></label>
                <p>{{ lastReceivingData.PriceReceived }}</p>
              </div>
              <div class="footer-item">
                <label><strong>TotalCost:</strong></label>
                <p>${{ item.UnitCost * item.UnitQty | number:'1.2-2' }}</p>
              </div>
              <div class="footer-item" *ngIf="OrderData.OrderStatusID != 1">
                <label><strong>OrderedUnitQty:</strong></label>
                <p>{{ item.OrderedUnitQty }}</p>
              </div>
              <div class="footer-item" *ngIf="OrderData.OrderStatusID != 1">
                <label><strong>OrderedUnitCost:</strong></label>
                <p>{{ item.OrderedUnitCost }}</p>
              </div>
              <div class="footer-item">
                <label><strong>StockQty:</strong></label>
                <p>{{ item.DestinationCurrentStock }}</p>
              </div>
              <div class="footer-item">
                <label><strong>TaxRate:</strong></label>
                <p>{{ item.TaxRate }}%</p>
              </div>
              <div class="footer-item">
                <label><strong>Markup:</strong></label>
                <p>{{ getMargin(item)*100 | number:'1.2-2' }}%</p>
              </div>
            </div>
          </div>
        </div>






      </form>
    </ion-content>
  </ion-split-pane>
</ion-content>