
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}

.left-info {
    flex: 50%;
    margin: 10px;
}

.right-info {
    flex: 50%;
    margin: 10px;
}