<div class="scrollable-accordion">
  <ion-accordion-group 
    [inert]="isSidebarOpen !== 'open'"
    [@disappearAnimation]="isSidebarOpen=='open'" 
    *ngIf="isSidebarOpen=='open'"
    [ngClass]="{'open': isSidebarOpen}" 
    [multiple]="true" 
    [value]="['1']" 
    expand="inset">

    <ion-accordion value="1" *ngIf="permission.displayItem">
      <ion-item slot="header" color="light">
        <ion-label>Item</ion-label>
      </ion-item>
      <ion-item [routerLink]="'/item'" slot="content">Item Search</ion-item>
      <ion-item [routerLink]="'/item/item-insert'" slot="content">Item Add</ion-item>
      <ion-item [routerLink]="'/item/item-approval'" slot="content" *ngIf="permission.displayItemApproval">Item
        Approval</ion-item>
      <ion-item [routerLink]="'/item/item-draft'" slot="content">Item Draft</ion-item>
      <ion-item [routerLink]="'/item/item-change-price'" slot="content">Item Change Price</ion-item>
    </ion-accordion>

    <ion-accordion value="1" *ngIf="permission.displayPO">
      <ion-item slot="header" color="light">
        <ion-label>PO</ion-label>
      </ion-item>
      <ion-item [routerLink]="'/po'" slot="content">PO List</ion-item>
      <ion-item [routerLink]="'/po/create-po'" slot="content">New PO</ion-item>
      <ion-item [routerLink]="'/po/po-draft'" slot="content">Frequency</ion-item>
    </ion-accordion>

    <ion-accordion value="1" *ngIf="permission.displayInventory">
      <ion-item slot="header" color="light">
        <ion-label>Inventory</ion-label>
      </ion-item>
      <ion-item [routerLink]="'/inventory'" slot="content">Credit Note</ion-item>
      <ion-item [routerLink]="'/inventory/inventory-insert'" slot="content">Add(扫货)</ion-item>
      <ion-item [routerLink]="'/inventory/inventory-return'" slot="content">Return(扫码退货)</ion-item>
      <ion-item [routerLink]="'/inventory/inventory-return-list'" slot="content">BulkReturn(批量退货)</ion-item>
      <ion-item [routerLink]="'/inventory/inventory-location'" slot="content">Location(地址)</ion-item>
    </ion-accordion>

    <ion-accordion value="1" *ngIf="permission.displayWarehouse">
      <ion-item slot="header" color="light">
        <ion-label>Warehouse</ion-label>
      </ion-item>
      <ion-item [routerLink]="'/warehouse'" slot="content">Inventory</ion-item>
      <ion-item [routerLink]="'/warehouse/warehouse-draft'" slot="content">Receive/Ship</ion-item>
      <ion-item [routerLink]="'/warehouse/warehouse-in'" slot="content">One Item</ion-item>
    </ion-accordion>

    <ion-accordion value="1" *ngIf="permission.displayHMR">
      <ion-item slot="header" color="light">
        <ion-label>HMR</ion-label>
      </ion-item>
      <ion-item [routerLink]="'/hmr/hmr-in'" slot="content">AddIn/TakeOut</ion-item>
      <!-- <ion-item [routerLink]="'/warehouse/warehouse-in'" slot="content">In</ion-item> -->
    </ion-accordion>

    <ion-accordion value="1" *ngIf="permission.displaySupplier">
      <ion-item slot="header" color="light">
        <ion-label>Supplier</ion-label>
      </ion-item>
      <ion-item [routerLink]="'/supplier/supplier-insert'" slot="content">Supplier Request</ion-item>
      <ion-item [routerLink]="'/supplier/supplier-approval'" slot="content"
        *ngIf="permission.displaySupplierApproval">Supplier Approval</ion-item>
    </ion-accordion>


    <ion-accordion value="1" *ngIf="permission.displayGroup">
      <ion-item slot="header" color="light">
        <ion-label>Group</ion-label>
      </ion-item>
      <ion-item [routerLink]="'/group'" slot="content">Search Group</ion-item>
      <ion-item [routerLink]="'/group/group-insert'" slot="content">Add Group</ion-item>
      <ion-item [routerLink]="'/group/group-details'" slot="content">Grouping</ion-item>
    </ion-accordion>




    <ion-accordion value="1" *ngIf="permission.displayOnline">
      <ion-item slot="header" color="light">
        <ion-label>Online</ion-label>
      </ion-item>
      <ion-item [routerLink]="'/online'" slot="content">Online</ion-item>

    </ion-accordion>




  </ion-accordion-group>
</div>